@charset "utf-8";

*{ margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box; }
html{ touch-action: none; }
body{ max-width: 750px; margin: 0 auto; -webkit-text-size-adjust:none; text-size-adjust: none; font-size: 14px; }
input::-webkit-input-placeholder{ color: #ddd; }

/*文字超出隐藏*/
.ellipsis{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }
/*2行文本省略号*/
.ellipsis2{ display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; overflow: hidden; }

/*浮动*/
.fr{ float: right !important; }
.fl{ float: left !important; }
.clearfix{ *zoom: 1; }
.clearfix:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }

/*固定大小元素居中*/
.center{ position: absolute; top: 0; left: 0; bottom: 0; right: 0; margin: auto; }

/*隐藏*/
.hide{ display: none !important; }

/*margin*/
.margin-top-20{
	margin-top: .2rem;
}
.margin-bottom-20{
	margin-bottom: .2rem;
}

.icon{ display: block; background-repeat: no-repeat; background-size: 100% 100%; }
.flex{ display: -webkit-flex; display: flex; }

/*按钮公共样式*/
.btn-color{ background: #8518A5; }

/*0.5像素线*/
.border-column, .border-row{ position: relative; }
.border-column:before{ content: ''; position: absolute; display: block; width: 1px; height: 100%; background: #ebebeb; -webkit-transform: scaleX(0.5); transform: scaleX(0.5); }
.border-row:before{ content: ''; position: absolute; display: block; width: 100%; height: 1px; background: #ebebeb; -webkit-transform: scaleY(0.5); transform: scaleY(0.5); }

/*默认页*/
.no-data-page,.error-page{ overflow: hidden; width: 100%; letter-spacing: 0; line-height: 1; }
.no-data-page img{ display: block; width: 3.2rem; height: 2.72rem; margin: .5rem auto 0; }
.error-page img{ width: 3.18rem; height: 2.68rem; margin: 0 auto; }
.no-data-page p, .error-page p{ margin-top: .4rem; text-align: center; font-size: .28rem !important; color: #999 !important; }

/*ios input bug input 父元素需要添加该类*/
.input-ios-bug{ position: relative; }

/*非可点击元素点击事件不生效bug 在添加点击事件的元素添加该类*/
.clickable{ cursor: pointer; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); }
